/* Global */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #fff;
  margin: 0;
}

a {
  text-decoration: none;
}

/* HEADER */
.header {
  height: 5rem;
  background-color: #fff;
}

.brand-logo {
  display: inline-block;
  margin-left: 2em;
  line-height: 7em;
}

/* Mobile & Tablet menu button */
.nav-toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s linear;
}

.nav-toggle:hover,
.nav-toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-link {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: #0a0d13;
}

/* Cover */
.content {
  background-image: url("../images/cover-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.main-cover {
  text-align: left;
  color: #fff;
  display: block;
  margin-left: 20%;
}
.content .container {
  position: relative;
  display: block;
  margin: 20em auto;
}

.cover-name {
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: -1em;
}

.cover-name-lastname {
  font-weight: bold;
}

.cover-name-text {
  color: #e74c3c;
  font-size: 30px;
}

.cover-text {
  display: inline-block;
  width: 39%;
  font-size: 24px;
}

.cover-hide {
  visibility: hidden;
}

/* Cover White Box */
.showoff-box {
  display: flex;
  margin: -10% auto;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
  width: 50%;
}

.showoff-box:after {
  content: "";
  display: block;
}

.showoff-inside-box-one {
  width: 33%;
  padding-right: 2%;
  height: 100%;
}

.showoff-inside-box-two {
  width: 34%;
  height: 20;
  border: 2px solid #fff;
  box-shadow: 0px 21px 49px 1px rgba(0, 0, 0, 0.2);
}

.showoff-inside-box-three {
  width: 33%;
  height: 100%;
}

.showoff-inside-box-one,
.showoff-inside-box-three {
  display: flex;
  margin: 7% 3%;
}

.showoff-inside-box-one-text,
.showoff-inside-box-three-text {
  margin-top: -8%;
  margin-left: 4%;
  text-transform: uppercase;
}

.showoff-inside-box-one-text a,
.showoff-inside-box-three-text a {
  font-size: 14px;
  color: #e74c3c;
}

/* MAIN CONTENT */
/* Transparent Box */
.transparent-box {
  display: flex;
  margin: 15% auto 5% auto;
  color: #000;
  width: 45%;
}

.transparent-box:after {
  content: "";
  display: block;
}

.transparent-box-one {
  width: 80%;
  margin-top: 1.5%;
  color: #e74c3c;
  font-size: 24px;
  text-transform: uppercase;
}

.transparent-box-one h3 {
  padding-left: 10%;
}

.transparent-box-two {
  display: block;
  padding-left: 2%;
  margin-top: 3%;
  margin-right: 15%;
  font-size: 16px;
}

.intro-video {
  margin: 0 auto 5% auto;
  width: 50%;
}

.intro-video-red-box {
  background-color: #e74c3c;

  background: linear-gradient(to bottom right, #e74c3c 25%, #fff 45%);
}

.into-video-red-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.intro-video-video {
  padding-top: 5%;
  padding-left: 5%;
}

.red-box {
  background: #e74c3c;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.red-box-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  padding-top: 2%;
  padding-left: 30%;
  padding-right: 30%;
}

.red-box-button {
  text-align: center;
}

.red-box-button button {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  width: 10%;
  height: 4em;
}

.red-box-button button:hover {
  transition: 2s ease;
  -webkit-transition: 2s ease;
  background-color: #b5bfce;
}

.red-box-button button a {
  color: #e74c3c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.promotion {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.promotion-text {
  margin-top: 2%;
  padding-left: 50%;
  padding-right: 35%;
}

.promotion-logo {
  margin: 5% auto;
}

.promotion-logo img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.promotion-pros {
  margin: 0% 25% 5% 25%;
  text-align: left;
}

.promotion-pros-text p {
  border-bottom: 1px solid rgba(189, 185, 185, 0.507);
  padding-top: 2%;
  padding-bottom: 2%;
}

.red-box-text span.red-box-inside-text {
  margin-top: 15%;
  font-size: 56px;
}

.red-box-program-selection {
  display: flex;
  margin: 5% auto;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
  width: 40%;
}

.red-box-program-selection .program-one,
.red-box-program-selection .program-two,
.red-box-program-selection .program-three {
  width: 33%;
  height: 100%;
}

.red-box-program-selection .program-one button,
.red-box-program-selection .program-two button,
.red-box-program-selection .program-three button {
  background-color: #ca4334;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  border: none;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  width: 100%;
  height: 4em;
}

.red-box-program-selection .program-one button:hover,
.red-box-program-selection .program-two button:hover,
.red-box-program-selection .program-three button:hover {
  transition: 1s ease;
  color: #000;
}

.red-box-program-selection .program-one button:focus,
.red-box-program-selection .program-two button:focus,
.red-box-program-selection .program-three button:focus,
.red-box-program-selection .program-one button:active,
.red-box-program-selection .program-two button:active,
.red-box-program-selection .program-three button:active {
  color: #000;
}

.red-box-program-fat,
.red-box-program-strength,
.red-box-program-muscle {
  display: none;
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 2%;
}

.is-visible {
  display: block;
}

.active {
  color: #000 !important;
}

.footer {
  display: block;
  margin-bottom: 1%;
  text-align: center;
}

.footer .links {
  padding-top: 2%;
}

.footer .links a {
  padding: 1%;
  text-decoration: none;
  text-transform: none;
  color: #000;
}

.footer .links a:hover {
  color: #e74c3c;
}

.footer .copyright p {
  font-size: 14px;
}

/* RESPONSIVE DESIGN */

/* Desktops */
@media (min-width: 851px) {
  nav {
    float: right;
  }

  nav li {
    float: left;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .nav-item {
    display: block;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 1rem;
    margin: 0 1em 0 0;
  }

  .nav-item a {
    position: relative;
  }

  .nav-link.active {
    color: #e74c3c;
  }

  .nav-toggle {
    display: none;
  }

  /* UNDERLINE RED ANIMATION */
  .nav-item a:before,
  .nav-item a:after {
    content: "";
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #e74c3c;
  }

  .nav-item a:before {
    opacity: 0;
    transform: translateY(-8px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  }

  .nav-item a:after {
    opacity: 0;
    transform: translateY(-8px/2);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.2s;
  }

  .nav-item a:hover::before,
  .nav-item a:focus::before,
  .nav-item a:hover::after,
  .nav-item a:focus::after {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-item a:hover::before,
  .nav-item a:focus::before {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.2s;
  }

  .nav-item a:hover::after,
  .nav-item a:focus::after {
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0s 0.2s;
  }
  /* UNDERLINE END ANIMATION END */

  .nav-item a:hover {
    color: #0a0d13;
  }
}

/* iPad Pro ++ */
@media (max-width: 1367px) {
  .showoff-box {
    margin-top: -14%;
    margin-left: 15%;
    width: 65%;
  }

  .showoff-inside-box-one,
  .showoff-inside-box-three {
    width: 40%;
  }

  .red-box-text {
    padding-left: 15%;
    padding-right: 15%;
  }

  .red-box-button {
    margin: 0 auto;
  }

  .red-box-button button {
    width: 20%;
  }

  .red-box-program-selection .program-one,
  .red-box-program-selection .program-two,
  .red-box-program-selection .program-three {
    width: 50%;
    height: 100%;
  }

  .red-box-program-selection {
    margin-left: 25%;
    width: 50%;
  }
}

/* Laptops, Desktops */
@media (max-width: 1280px) {
  .nav-toggle {
    display: none;
  }

  .cover-name {
    font-size: 32px;
  }

  .cover-name-text {
    font-size: 28px;
    padding-right: 40%;
  }

  .cover-text {
    font-size: 24px;
    width: 50%;
  }

  .main-cover {
    margin-top: -10%;
  }

  .transparent-box {
    width: 70%;
  }

  .transparent-box-one {
    font-size: 18px;
  }

  .intro-video {
    width: 55%;
  }
}

/* iPad Pro */
@media (min-width: 1020px) and (max-width: 1100px) {
  .main-cover {
    margin-top: 0%;
  }

  .cover-name {
    font-size: 42px;
  }

  .cover-name-text {
    font-size: 32px;
  }

  .cover-text {
    font-size: 26px;
  }

  .showoff-box {
    margin-top: 40%;
  }
}

/* Tablets, iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1019px) {
  .main-cover {
    margin-top: 0%;
  }

  .cover-name {
    font-size: 32px;
  }

  .cover-name-text {
    font-size: 28px;
  }

  .cover-text {
    font-size: 24px;
  }

  .cover-text {
    width: 60%;
  }

  .showoff-box {
    margin: -30% auto 10% auto;
    width: 80%;
  }

  .showoff-inside-box-one,
  .showoff-inside-box-three {
    width: 50%;
  }

  .transparent-box {
    margin: 10% 0% 10% 18%;
  }

  .transparent-box-one {
    padding-right: 3%;
  }

  .red-box-program-selection {
    margin-left: 20%;
    width: 60%;
  }
}

@media (max-width: 850px) {
  .nav-toggle {
    display: block;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 360px;
    position: relative;
    z-index: 5;
    visibility: hidden;
  }

  .nav-item {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
    list-style-type: none;
  }

  .nav-item:nth-child(1) {
    transform: translateY(-40px);
  }

  .nav-item:nth-child(2) {
    transform: translateY(-80px);
  }

  .nav-item:nth-child(3) {
    transform: translateY(-120px);
  }

  .nav-item:nth-child(4) {
    transform: translateY(-160px);
  }

  .nav-item:nth-child(5) {
    transform: translateY(-200px);
  }

  .nav-link {
    font-size: 1.25rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    padding: 1rem;
    list-style-type: none;
    margin: 0 2em 0 0;
  }

  .nav-link:hover,
  .nav-link:focus {
    outline: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* Menu Button Icon */
  .menu-icon {
    display: block;
    cursor: pointer;
    color: #0a0d13;
    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .menu-icon-bar,
  .menu-icon-circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
  }

  .menu-icon-bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
  }

  .menu-icon-circle {
    transition: stroke-dashoffset 0.3s linear 0.1s;
    stroke-dashoffset: 144.513262038;
    stroke-dasharray: 144.513262038;
  }

  /* Splash Background */
  .splash {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;
  }

  .splash::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #e74c3c; /* change later */

    /* Screen diamterer - 142vmax max
      Circle twice that size to cover
      */
    width: 284vmax;
    height: 284vmax;
    top: -142vmax;
    left: -142vmax;

    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);

    /* Shows menu in front of everything */
    z-index: 1;

    /* Tells the browser that this property will be animated in the near future */
    will-change: transform;
  }

  /* Active state */
  .nav:target > .splash::after,
  .nav-open > .splash::after {
    transform: scale(1);
  }

  .nav:target .menu-icon,
  .nav-open .menu-icon {
    color: #fff;
    transform: rotate(180deg);
  }

  .nav:target .menu-icon-circle,
  .nav-open .menu-icon-circle {
    stroke-dashoffset: 0;
  }

  .nav:target .menu-icon-bar:nth-child(1),
  .nav:target .menu-icon-bar:nth-child(4),
  .nav-open .menu-icon-bar:nth-child(1),
  .nav-open .menu-icon-bar:nth-child(4) {
    opacity: 0;
  }

  .nav:target .menu-icon-bar:nth-child(2),
  .nav-open .menu-icon-bar:nth-child(2) {
    transform: rotate(45deg);
  }

  .nav:target .menu-icon-bar:nth-child(3),
  .nav-open .menu-icon-bar:nth-child(3) {
    transform: rotate(-45deg);
  }

  .nav:target .nav-menu,
  .nav-open .nav-menu {
    visibility: visible;
  }

  .nav:target .nav-item,
  .nav-open .nav-item {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 770px) {
  .transparent-box {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .transparent-box-one {
    font-size: 18px;
  }
}

/* Pixel 2 XL */
@media (max-width: 411px) {
  .content {
    height: 90%;
  }
}
/* iPhone 6,7,8 Plus */
@media (min-width: 400px) and (max-width: 450px) {
  .main-cover {
    margin-top: -50%;
  }

  .cover-name {
    font-size: 24px;
  }

  .cover-name-text {
    font-size: 16px;
    width: 80%;
  }

  .cover-text {
    font-size: 16px;
    width: 75%;
  }

  .showoff-box {
    display: none;
  }

  .transparent-box {
    display: flexbox;
    flex-direction: column;
    margin: -40% auto 10% auto !important;
    text-align: center;
  }

  .transparent-box-one {
    font-size: 24px;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  .transparent-box-divider {
    border-bottom: 1px solid #000;
  }

  .transparent-box-divider svg {
    display: none;
  }

  .transparent-box-two {
    margin: auto;
  }

  .red-box-button button {
    margin: auto;
    width: 40%;
  }

  .promotion-pros {
    margin: 5% 5%;
    display: none;
  }

  .red-box-inside-text {
    font-size: 30px !important;
  }

  .red-box-program-selection {
    margin-left: 2%;
    width: 80%;
  }

  .red-box-program-fat,
  .red-box-program-strength,
  .red-box-program-muscle {
    margin-left: 5%;
    margin-right: 5%;
  }

  .footer .links a {
    font-size: 14px;
  }

  .footer .copyright p {
    font-size: 12px;
  }
}

/* iPhone X */
@media (max-width: 375px) and (max-height: 812px) {
  .content {
    height: 80%;
  }

  .red-box-button button {
    margin: auto;
    width: 40%;
  }

  .promotion-pros {
    display: none;
  }

  .red-box-inside-text {
    font-size: 28px !important;
  }

  .red-box-program-selection {
    margin: auto;
    width: 70%;
  }

  .red-box-program-fat,
  .red-box-program-strength,
  .red-box-program-muscle {
    margin: 0 5% 5% 5%;
  }

  .footer .links a {
    font-size: 14px;
  }

  .footer .copyright p {
    font-size: 12px;
  }
}

/* iPhone 6,7,8 */
@media (max-width: 375px) and (max-height: 667px) {
  .content {
    height: 100%;
  }

  .promotion-pros {
    margin: 5% 5%;
    display: none;
  }

  .red-box-program-selection {
    margin: auto;
    width: 70%;
  }
}

/* Galaxy S */
@media (max-width: 360px) and (max-height: 640px) {
  .content {
    height: 100%;
  }
}

/* Most of the Smarpthones (Portrait) */
@media (min-width: 321px) and (max-width: 399px) {
  .main-cover {
    margin-top: -55%;
  }

  .cover-name {
    font-size: 24px;
  }

  .cover-name-text {
    font-size: 16px;
    width: 80%;
  }

  .cover-text {
    font-size: 16px;
    width: 75%;
  }

  .showoff-box {
    display: none;
  }

  .transparent-box {
    display: flexbox;
    flex-direction: column;
    margin-left: 15%;
    margin-top: -50%;
    text-align: center;
  }

  .transparent-box-one {
    font-size: 24px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .transparent-box-divider {
    margin-left: 0;
    border-bottom: 1px solid #000;
  }
  .transparent-box-divider svg {
    display: none;
  }

  .transparent-box-two {
    margin: auto;
  }
}

/* iPhone 5 and similar size phones */
@media (max-width: 320px) {
  .content {
    height: 100%;
  }

  .transparent-box {
    display: flexbox;
    flex-direction: column;
    margin: -50% auto 10% auto;
    text-align: center;
  }

  .transparent-box-one {
    font-size: 24px;
    margin: auto;
  }

  .transparent-box-divider {
    margin-left: 0%;
    border-bottom: 1px solid #000;
  }

  .transparent-box-divider svg {
    display: none;
  }

  .transparent-box-two {
    margin: auto;
  }

  .main-cover {
    margin-top: -70%;
  }
  .cover-name {
    font-size: 24px;
  }

  .cover-name-text {
    font-size: 16px;
    width: 80%;
  }

  .cover-text {
    font-size: 12px;
    width: 75%;
  }

  .showoff-box {
    display: none;
  }

  .red-box-inside-text {
    font-size: 28px !important;
  }

  .red-box-program-selection {
    margin-left: 2%;
    width: 70%;
  }

  .red-box-program-fat,
  .red-box-program-strength,
  .red-box-program-muscle {
    margin-left: 5%;
    margin-right: 5%;
  }
}
